body {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 16px;
}

ul {
    list-style: none;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 500px;
}

.chat-panel {
    display: flex;
    align-items: stretch;
    min-width: 600px;
    width: calc(100% - 100px);
    height: 100%;
    border-radius: 4px;
    border: 2px solid grey;
}

.user-block {
    min-width: 100px;
    width: 25%;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border-right: 2px solid grey;
    background-color: #faf6fb;
}

.user-block li {
    color: #bbc7a6;
    text-transform: uppercase;
    font-weight: 600;
}

.message-block {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 100%;
}

.conversation {
    display: flex;
    flex-direction: column;
    height: calc(100% - 30px);
}

.status-message {
    padding: 8px 8px;
    font-size: 18px;
    color: #c0d0d8;
}

.message-chat {
    padding-left: 12px;
    margin-right: 12px;
    margin-top: 0px;
    overflow-y: auto;
}

.message-chat li {
    background-color: #f6f2f7;
    border-radius: 8px;
    padding: 8px 8px;
    margin-top: 8px;
}

.chat-bar {
    display: flex;
    align-items: stretch;
    height: 30px;
    border-top: 2px solid grey;
}

.chat-bar input {
    width: calc(100% - 30px);
    height: 30px;
    border: 0px;
    padding: 0px 6px;
}

.chat-bar button {
    width: 70px;
    height: 30px;
    background-color: #5b575c;
    color: white;
    border: 0px;
}